<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">

  <a class="navbar-brand" routerLink="/">🛒 Store</a>

  <div class="ms-auto">

    <!--  if not logged in -->
    <ng-container *ngIf="!auth.isLoggedIn()">
      <a class="btn btn-outline-light me-2" routerLink="/login">Login</a>
      <a class="btn btn-warning" routerLink="/register">Register</a>
    </ng-container>

    <!-- if logged in -->
    <ng-container *ngIf="auth.isLoggedIn()">
      <a class="btn btn-outline-light me-2" routerLink="/account/profile">
          My Profile </a>
      <button class="btn btn-danger" (click)="logout()">Logout</button>
    </ng-container>

  </div>

</nav>
